pre { line-height: 125%; }
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.pygments-highlighted .hll { background-color: #ffffcc }
.pygments-highlighted { background: #f0f0f0; }
.pygments-highlighted .c { color: #60A0B0; font-style: italic } /* Comment */
.pygments-highlighted .err { border: 1px solid #F00 } /* Error */
.pygments-highlighted .k { color: #007020; font-weight: bold } /* Keyword */
.pygments-highlighted .o { color: #666 } /* Operator */
.pygments-highlighted .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
.pygments-highlighted .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
.pygments-highlighted .cp { color: #007020 } /* Comment.Preproc */
.pygments-highlighted .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
.pygments-highlighted .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
.pygments-highlighted .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
.pygments-highlighted .gd { color: #A00000 } /* Generic.Deleted */
.pygments-highlighted .ge { font-style: italic } /* Generic.Emph */
.pygments-highlighted .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.pygments-highlighted .gr { color: #F00 } /* Generic.Error */
.pygments-highlighted .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments-highlighted .gi { color: #00A000 } /* Generic.Inserted */
.pygments-highlighted .go { color: #888 } /* Generic.Output */
.pygments-highlighted .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
.pygments-highlighted .gs { font-weight: bold } /* Generic.Strong */
.pygments-highlighted .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments-highlighted .gt { color: #04D } /* Generic.Traceback */
.pygments-highlighted .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.pygments-highlighted .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.pygments-highlighted .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.pygments-highlighted .kp { color: #007020 } /* Keyword.Pseudo */
.pygments-highlighted .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.pygments-highlighted .kt { color: #902000 } /* Keyword.Type */
.pygments-highlighted .m { color: #40A070 } /* Literal.Number */
.pygments-highlighted .s { color: #4070A0 } /* Literal.String */
.pygments-highlighted .na { color: #4070A0 } /* Name.Attribute */
.pygments-highlighted .nb { color: #007020 } /* Name.Builtin */
.pygments-highlighted .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
.pygments-highlighted .no { color: #60ADD5 } /* Name.Constant */
.pygments-highlighted .nd { color: #555; font-weight: bold } /* Name.Decorator */
.pygments-highlighted .ni { color: #D55537; font-weight: bold } /* Name.Entity */
.pygments-highlighted .ne { color: #007020 } /* Name.Exception */
.pygments-highlighted .nf { color: #06287E } /* Name.Function */
.pygments-highlighted .nl { color: #002070; font-weight: bold } /* Name.Label */
.pygments-highlighted .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
.pygments-highlighted .nt { color: #062873; font-weight: bold } /* Name.Tag */
.pygments-highlighted .nv { color: #BB60D5 } /* Name.Variable */
.pygments-highlighted .ow { color: #007020; font-weight: bold } /* Operator.Word */
.pygments-highlighted .w { color: #BBB } /* Text.Whitespace */
.pygments-highlighted .mb { color: #40A070 } /* Literal.Number.Bin */
.pygments-highlighted .mf { color: #40A070 } /* Literal.Number.Float */
.pygments-highlighted .mh { color: #40A070 } /* Literal.Number.Hex */
.pygments-highlighted .mi { color: #40A070 } /* Literal.Number.Integer */
.pygments-highlighted .mo { color: #40A070 } /* Literal.Number.Oct */
.pygments-highlighted .sa { color: #4070A0 } /* Literal.String.Affix */
.pygments-highlighted .sb { color: #4070A0 } /* Literal.String.Backtick */
.pygments-highlighted .sc { color: #4070A0 } /* Literal.String.Char */
.pygments-highlighted .dl { color: #4070A0 } /* Literal.String.Delimiter */
.pygments-highlighted .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
.pygments-highlighted .s2 { color: #4070A0 } /* Literal.String.Double */
.pygments-highlighted .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
.pygments-highlighted .sh { color: #4070A0 } /* Literal.String.Heredoc */
.pygments-highlighted .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
.pygments-highlighted .sx { color: #C65D09 } /* Literal.String.Other */
.pygments-highlighted .sr { color: #235388 } /* Literal.String.Regex */
.pygments-highlighted .s1 { color: #4070A0 } /* Literal.String.Single */
.pygments-highlighted .ss { color: #517918 } /* Literal.String.Symbol */
.pygments-highlighted .bp { color: #007020 } /* Name.Builtin.Pseudo */
.pygments-highlighted .fm { color: #06287E } /* Name.Function.Magic */
.pygments-highlighted .vc { color: #BB60D5 } /* Name.Variable.Class */
.pygments-highlighted .vg { color: #BB60D5 } /* Name.Variable.Global */
.pygments-highlighted .vi { color: #BB60D5 } /* Name.Variable.Instance */
.pygments-highlighted .vm { color: #BB60D5 } /* Name.Variable.Magic */
.pygments-highlighted .il { color: #40A070 } /* Literal.Number.Integer.Long */