pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.pygments-highlighted .hll { background-color: #49483e }
.pygments-highlighted { background: #272822; color: #F8F8F2 }
.pygments-highlighted .c { color: #959077 } /* Comment */
.pygments-highlighted .err { color: #ED007E; background-color: #1E0010 } /* Error */
.pygments-highlighted .esc { color: #F8F8F2 } /* Escape */
.pygments-highlighted .g { color: #F8F8F2 } /* Generic */
.pygments-highlighted .k { color: #66D9EF } /* Keyword */
.pygments-highlighted .l { color: #AE81FF } /* Literal */
.pygments-highlighted .n { color: #F8F8F2 } /* Name */
.pygments-highlighted .o { color: #FF4689 } /* Operator */
.pygments-highlighted .x { color: #F8F8F2 } /* Other */
.pygments-highlighted .p { color: #F8F8F2 } /* Punctuation */
.pygments-highlighted .ch { color: #959077 } /* Comment.Hashbang */
.pygments-highlighted .cm { color: #959077 } /* Comment.Multiline */
.pygments-highlighted .cp { color: #959077 } /* Comment.Preproc */
.pygments-highlighted .cpf { color: #959077 } /* Comment.PreprocFile */
.pygments-highlighted .c1 { color: #959077 } /* Comment.Single */
.pygments-highlighted .cs { color: #959077 } /* Comment.Special */
.pygments-highlighted .gd { color: #FF4689 } /* Generic.Deleted */
.pygments-highlighted .ge { color: #F8F8F2; font-style: italic } /* Generic.Emph */
.pygments-highlighted .ges { color: #F8F8F2; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.pygments-highlighted .gr { color: #F8F8F2 } /* Generic.Error */
.pygments-highlighted .gh { color: #F8F8F2 } /* Generic.Heading */
.pygments-highlighted .gi { color: #A6E22E } /* Generic.Inserted */
.pygments-highlighted .go { color: #66D9EF } /* Generic.Output */
.pygments-highlighted .gp { color: #FF4689; font-weight: bold } /* Generic.Prompt */
.pygments-highlighted .gs { color: #F8F8F2; font-weight: bold } /* Generic.Strong */
.pygments-highlighted .gu { color: #959077 } /* Generic.Subheading */
.pygments-highlighted .gt { color: #F8F8F2 } /* Generic.Traceback */
.pygments-highlighted .kc { color: #66D9EF } /* Keyword.Constant */
.pygments-highlighted .kd { color: #66D9EF } /* Keyword.Declaration */
.pygments-highlighted .kn { color: #FF4689 } /* Keyword.Namespace */
.pygments-highlighted .kp { color: #66D9EF } /* Keyword.Pseudo */
.pygments-highlighted .kr { color: #66D9EF } /* Keyword.Reserved */
.pygments-highlighted .kt { color: #66D9EF } /* Keyword.Type */
.pygments-highlighted .ld { color: #E6DB74 } /* Literal.Date */
.pygments-highlighted .m { color: #AE81FF } /* Literal.Number */
.pygments-highlighted .s { color: #E6DB74 } /* Literal.String */
.pygments-highlighted .na { color: #A6E22E } /* Name.Attribute */
.pygments-highlighted .nb { color: #F8F8F2 } /* Name.Builtin */
.pygments-highlighted .nc { color: #A6E22E } /* Name.Class */
.pygments-highlighted .no { color: #66D9EF } /* Name.Constant */
.pygments-highlighted .nd { color: #A6E22E } /* Name.Decorator */
.pygments-highlighted .ni { color: #F8F8F2 } /* Name.Entity */
.pygments-highlighted .ne { color: #A6E22E } /* Name.Exception */
.pygments-highlighted .nf { color: #A6E22E } /* Name.Function */
.pygments-highlighted .nl { color: #F8F8F2 } /* Name.Label */
.pygments-highlighted .nn { color: #F8F8F2 } /* Name.Namespace */
.pygments-highlighted .nx { color: #A6E22E } /* Name.Other */
.pygments-highlighted .py { color: #F8F8F2 } /* Name.Property */
.pygments-highlighted .nt { color: #FF4689 } /* Name.Tag */
.pygments-highlighted .nv { color: #F8F8F2 } /* Name.Variable */
.pygments-highlighted .ow { color: #FF4689 } /* Operator.Word */
.pygments-highlighted .pm { color: #F8F8F2 } /* Punctuation.Marker */
.pygments-highlighted .w { color: #F8F8F2 } /* Text.Whitespace */
.pygments-highlighted .mb { color: #AE81FF } /* Literal.Number.Bin */
.pygments-highlighted .mf { color: #AE81FF } /* Literal.Number.Float */
.pygments-highlighted .mh { color: #AE81FF } /* Literal.Number.Hex */
.pygments-highlighted .mi { color: #AE81FF } /* Literal.Number.Integer */
.pygments-highlighted .mo { color: #AE81FF } /* Literal.Number.Oct */
.pygments-highlighted .sa { color: #E6DB74 } /* Literal.String.Affix */
.pygments-highlighted .sb { color: #E6DB74 } /* Literal.String.Backtick */
.pygments-highlighted .sc { color: #E6DB74 } /* Literal.String.Char */
.pygments-highlighted .dl { color: #E6DB74 } /* Literal.String.Delimiter */
.pygments-highlighted .sd { color: #E6DB74 } /* Literal.String.Doc */
.pygments-highlighted .s2 { color: #E6DB74 } /* Literal.String.Double */
.pygments-highlighted .se { color: #AE81FF } /* Literal.String.Escape */
.pygments-highlighted .sh { color: #E6DB74 } /* Literal.String.Heredoc */
.pygments-highlighted .si { color: #E6DB74 } /* Literal.String.Interpol */
.pygments-highlighted .sx { color: #E6DB74 } /* Literal.String.Other */
.pygments-highlighted .sr { color: #E6DB74 } /* Literal.String.Regex */
.pygments-highlighted .s1 { color: #E6DB74 } /* Literal.String.Single */
.pygments-highlighted .ss { color: #E6DB74 } /* Literal.String.Symbol */
.pygments-highlighted .bp { color: #F8F8F2 } /* Name.Builtin.Pseudo */
.pygments-highlighted .fm { color: #A6E22E } /* Name.Function.Magic */
.pygments-highlighted .vc { color: #F8F8F2 } /* Name.Variable.Class */
.pygments-highlighted .vg { color: #F8F8F2 } /* Name.Variable.Global */
.pygments-highlighted .vi { color: #F8F8F2 } /* Name.Variable.Instance */
.pygments-highlighted .vm { color: #F8F8F2 } /* Name.Variable.Magic */
.pygments-highlighted .il { color: #AE81FF } /* Literal.Number.Integer.Long */